@font-face {
    font-family: 'myFont';
    src:
        url('../fonts/Merchant.ttf') format('trueType'),
        url('../fonts/MerchantDouble.ttf') format('trueType'),
        url('../fonts/MerchantWide.ttf') format('trueType');

    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'myFont', serif;
    text-shadow: 2px 2px 4px black;
}

body {
    font-family: 'myFont', serif;
    font-size: 40px;
    font-weight: normal;
    background-color: rgb(33, 33, 33);
    color: white;
    display: grid;
}

button {
    font-family: 'myFont', serif;
    font-size: 40px;
    font-weight: normal;
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}